body {
    font-family: Arial, sans-serif;
    background-color: black;
}
div h1{
    background-color: orange;
    width: 100%;
    margin: auto;
    text-align: center;
}
div {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: orangered;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}.inner-form {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: orange;
}
div label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}
div p {
    text-align: center;
    font-size: 1.2em;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
}
p {
    margin: auto;
    color: beige;
    padding: 10px;
}
a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    margin: auto;
}